body{
  background-color:#29002e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  display: grid;
justify-content:center;
padding: 20px;
margin: auto;


}

img{
  height: 280px;
  width: 280px;
  border-radius:50%;
margin-left:15px;
transition-duration: 1s;
}

#eye{margin:auto;
  margin-top: 20px;

}

img hover{
  transform:scale(1.1,1.1);
}



.col-box{display: flex;
  flex-direction: column;
  justify-content: space-around;
margin: top 30px;


background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 15px;


}


input, button{
  height: 40px;
  width:300px;
  border: 2px solid salmon;
  border-radius: 20px;
  text-align: center;
}

input:haver {
  box-shadow: 1px
  1px 10px 2px deeppink;
}


input::placeholder{
  color: red;
  font-size: 1.2em
}

 



